.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Helvetica, sans-serif;
    padding: 50px;
    width: 100%;

    &__login {
        display: flex;
        align-items: center;
        justify-self: end;

        button {
            margin-left: 20px;
        }
    }

    &__navigation {
        font-size: 20px;

        a {
            margin-right: 20px;
            color: black;
            font-weight: bold;
        }
    }

    &__button {
        background-color: black !important;
    }
}